.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .logo {
    width: 150px;
  }
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
  }
  .navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    transition: 0.2s ease;
  }
  .navbar li {
    cursor: pointer;
  }
  .navbar-search-icon {
    position: relative;
  }
  .navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
  }
  .navbar button:hover {
    background-color: tomato;
    color: white;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-icon {
    cursor: pointer;
  }
  
  .search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-icon-inside {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 5px;
  }
  
  @media (max-width: 1050px) {
    .navbar .logo {
      width: 140px;
    }
    .navbar-menu {
      gap: 20px;
      font-size: 17px;
    }
    .navbar-right {
      gap: 30px;
    }
    .navbar-right img {
      width: 22px;
    }
    .navbar-right button {
      padding: 8px 25px;
    }
  }
  
  @media (max-width: 900px) {
    .navbar .logo {
      width: 140px;
    }
    .navbar-menu {
      gap: 15px;
      font-size: 16px;
    }
    .navbar-right {
      gap: 20px;
    }
    .navbar-right img {
      width: 20px;
    }
    .navbar-right button {
      padding: 7px 20px;
      font-size: 15px;
    }
    .search-icon-inside {
             top: 10px;
      }
  }
  
  @media (max-width: 750px) {
    .navbar-menu {
      display: none;
    }
    .navbar-right button {
      padding: 7px 20px;
      font-size: 15px;
    }
  }
  @media (max-width: 600px) {
    .navbar-right {
        gap: 5px !important;
      }
  }
  @media (max-width: 570px) {
    .navbar-right {
        gap: 5px !important;
      }
      .search-input{
        width: 150px;
      }
  }
  @media (max-width: 510px) {
      .search-input{
        width: 130px;
      }
      .navbar .logo {
        width: 120px;
      }
  }
  
  @media (max-width: 460px) {
    .navbar .logo {
      width: 110px;
    }
    .navbar-menu {
      gap: 15px;
      font-size: 16px;
    }
      .navbar-right img {
      width: 20px;
    }
    .navbar-right button {
      padding: 5px 15px;
      font-size: 13px;
    }
  }
  @media (max-width: 430px) {
    .navbar .logo {
      width: 95px;
    }
    .search-input{
        width: 100px;
        padding: 8px 15px;
      }
      .navbar-right img {
        width: 17px;
      }
}
@media (max-width: 370px) {
    .navbar-right button {
        padding: 5px 12px;
        font-size: 12px;
      }
      .search-input{
        width: 85px;
        padding: 5px 10px;
      }
      .navbar .logo {
        width: 85px;
      }
      .search-icon-inside {
        top: 6px;
 }
 
}